.note {
    &.active {
        &[data-note="C"] {
            background-color: #E00919 !important;
        }
        &[data-note="Df"] {
            background-color: #0F83B4 !important;
        }
        &[data-note="D"] {
            background-color: #E58904 !important;
        }
        &[data-note="Ef"] {
            background-color: #240EB8 !important;
        }
        &[data-note="E"] {
            background-color: #E5E304 !important;
        }
        &[data-note="F"] {
            background-color: #B30F6E !important;
        }
        &[data-note="Gf"] {
            background-color: #41B40F !important;
        }
        &[data-note="G"] {
            background-color: #E55407 !important;
        }
        &[data-note="Af"] {
            background-color: #0F4FB3 !important;
        }
        &[data-note="A"] {
            background-color: #E5B604 !important;
        }
        &[data-note="Bf"] {
            background-color: #780EB0 !important;
        }
        &[data-note="B"] {
            background-color: #ABD00D !important;
        }
    }
}