@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;

    body {

        div#options {
            margin-bottom: 50px;
        }

        div#wrapper {
            width: 1000px;
            height: 200px;

            font-family: roboto;
            font-weight: lighter;

            margin: 25px;

            div.fretboard {
                width: 100%;
                height: 100%;

                display: flex;

                user-select: none;

                div.base-notes {
                    width: 50px;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    

                    div.string {
                        width: 100%;
                        height: 37.5px;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        background-color: #000000;
                        border-radius: 50%;
                        border: solid 1px #484644;
                        box-sizing: border-box;

                        h1 {
                            font-size: 1.5rem;
                            font-weight: lighter;
                            color: #fff;
                            text-align: center;
                            
                        }
                    }
                }

                div.separator {
                    width: 5px;
                    height: 100%;

                    margin: 0 10px;

                    background-color: #303030;
                }

                div.fingerboard {
                    width: calc(100% - 75px);
                    height: 100%;

                    display: flex;
                    flex-direction: row;

                    div.fret {
                        height: 100%;
                        width: 50px;

                        margin-right: 10px;

                        display: flex; 
                        flex-direction: column;
                        justify-content: space-evenly;

                        div.note {
                            width: 100%;
                            height: 37.5px;

                            background-color: #000000;
                            border-radius: 50%;
                            border: solid 1px #484644;
                            box-sizing: border-box;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            &.half {
                                background-color: #CCCCCC;

                                h1 {
                                    color: #000;
                                }
                            }

                            h1 {
                                font-size: 1.5rem;
                                font-weight: lighter;
                                color: #fff;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}