@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;

    body {

        div#options {
            margin-bottom: 50px;
        }

        div#wrapper {
            width: 1000px;
            height: 200px;

            font-family: roboto;
            font-weight: lighter;

            margin: 25px;

            div.note-finder {
                width: 100%;
                height: 50px;

                margin: 25px;

                display: flex;
                flex-direction: row;
                align-items: center;

                select#note-scale-selector {
                    margin-right: 25px;
                }
            }

            div.fretboard {
                width: 1000px;
                min-height: 180px;
            
                border: none;

                display: flex;

                &._4s {
                    height: 180px;
                }
                &._6s {
                    height: 260px;
                }
            }
        }
    }
}